# Dependencies
/node_modules
/package-lock.json
/yarn.lock

# Build outputs
/_site
/dist

# Cache
/.cache
/.netlify
/.eleventy.cache

# Environment variables
/.env
/.env.*
!/.env.example

# Editor directories and files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
