<!DOCTYPE html>
<html>
  <head>
    <title>{% if title %}{{ title }} · {% endif %}Philo van Kemenade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="sans-serif dark-gray bg-washed-green" style="height: 100vh">
    <header class="text-lg absolute p-4 pa4-ns ph6-l">
      <nav class="text-xl">
        <a class="link dim dark-green inline-block mr3 mb3" href="/" title="home">
          <i class="v-mid" data-feather="home"></i>
          <span class="v-mid">home</span>
        </a>
        <a
          class="link dim dark-green inline-block mr3 mb3"
          href="/now"
          title="what I'm doing now"
        >
          <i class="v-mid" data-feather="sun"></i>
          <span class="v-mid">now</span>
        </a>
        <a
          class="link dim dark-green inline-block mr3 mb3"
          href="/projects"
          title="projects"
        >
          <i class="v-mid" data-feather="zap"></i>
          <span class="v-mid">projects</span>
        </a>
        <a class="link dim dark-green inline-block mr3 mb3" href="/about" title="about">
          <i class="v-mid" data-feather="info"></i>
          <span class="v-mid">about</span>
        </a>
      </nav>
    </header>
    
    {% block content %}
    {{ content | safe }}
    {% endblock %}

    <script>
      feather.replace();
    </script>
    <script
      data-goatcounter="https://phivk.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>
